.circle-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 70px;
  height: 70px;
  background-color: $purple-with-opacity;
  border: 0;
  border-radius: 50px;
  box-shadow: $shadow;
  transition: 0.1s ease-in-out;

  svg {
    path {
      fill: $white;
    }
  }

  &:active {
    transform: scale(0.9);
  }
}
