.search {
  width: 100%;
  max-width: 350px;
  height: 50px;
  margin: 0 auto 30px;
  padding: 0 25px;
  background-color: $purple-with-opacity;
  border-radius: 25px;
  box-shadow: $shadow;
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.1s ease-in-out;

  &__icon {
    width: 20px;
    height: 20px;

    path {
      fill: $white;
    }
  }

  input {
    padding: 10px 15px 10px 20px;
  }

  &:active {
    transform: scale(0.9);
  }
}
