$background: #504b6b;
$purple: #9478ce;
$purple-with-opacity: #9578ceb3;
$purple-light: #a7a2c9;
$white: #ffffff;

$opacity: 0.6;
$shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
$letter-spacing: 0.17em;
